<launch>

    <node pkg="tf2_ros" type="static_transform_publisher" name="aruco_to_dock"
        args ="-0.54 0.0 0.14 0.0 0.0 0.0 1.0 id_121 dock" />


    <node name="aruco_broadcaster" pkg="doggo_walker" type="aruco_broadcaster.py" output="screen" />

    <node name="spot_broadcaster" pkg="doggo_walker" type="spot_broadcaster.py" output="screen" />

    <node name="dock_pose" pkg="doggo_walker" type="dock_pose.py" output="screen" />

</launch>
