<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="holybro_drone_assembly">
  <link
    name="base_footprint">
    <inertial>
      <origin
        xyz="1.70708560839171E-08 -7.0726367034816E-05 -0.158250915780836"
        rpy="0 0 0" />
      <mass
        value="0.296919523990479" />
      <inertia
        ixx="0.000122760650980985"
        ixy="3.74660141842933E-05"
        ixz="-2.44805848871957E-12"
        iyy="0.000208680900177811"
        iyz="1.97455521230761E-12"
        izz="0.000253889730180627" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://x500_description/meshes/visual/base_footprint.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://x500_description/meshes/visual/base_footprint.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.000123174712956691 -0.000194646216458284 0.015635472724649"
        rpy="0 0 0" />
      <mass
        value="0.0752275868088825" />
      <inertia
        ixx="0.000117175477865718"
        ixy="-4.77355971598773E-07"
        ixz="2.71663076677385E-08"
        iyy="0.000110446473809526"
        iyz="-9.16150140646993E-10"
        izz="0.000227544483789822" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://x500_description/meshes/visual/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://x500_description/meshes/visual/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="base_joint"
    type="fixed">
    <origin
      xyz="0 0 -0.137"
      rpy="-3.14159265358979 0 0" />
    <parent
      link="base_footprint" />
    <child
      link="base_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="base_ned_link">
    <inertial>
      <origin
        xyz="-0.0186125258152506 0.0334994996893091 -0.00640428661982994"
        rpy="0 0 0" />
      <mass
        value="0.00437682945739925" />
      <inertia
        ixx="8.43560178506833E-08"
        ixy="2.01801712933614E-09"
        ixz="-1.34462898307878E-10"
        iyy="2.13380538681956E-07"
        iyz="-7.76739491418283E-11"
        izz="2.54206551224094E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://x500_description/meshes/visual/base_ned_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://x500_description/meshes/visual/base_ned_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="base_ned_joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="3.14159265358979 0 0" />
    <parent
      link="base_link" />
    <child
      link="base_ned_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="body_link">
    <inertial>
      <origin
        xyz="-0.0997185432070198 -0.0113045785602763 -0.388367857102464"
        rpy="0 0 0" />
      <mass
        value="16.5303129418879" />
      <inertia
        ixx="0.205112268505964"
        ixy="4.2543440952297E-08"
        ixz="-1.4905643207457E-08"
        iyy="0.204322438940928"
        iyz="1.1512573499987E-07"
        izz="0.152406165330519" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://x500_description/meshes/visual/body_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://x500_description/meshes/visual/body_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="body_joint"
    type="fixed">
    <origin
      xyz="0 0 0.0461"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="body_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="camera_link">
    <inertial>
      <origin
        xyz="4.40270705101162E-07 0.00599487662600104 -0.0146941694531467"
        rpy="0 0 0" />
      <mass
        value="0.0727080976862257" />
      <inertia
        ixx="6.17265982731044E-06"
        ixy="-2.27916755014924E-12"
        ixz="-3.34242664287011E-11"
        iyy="4.39095219738262E-05"
        iyz="2.69223358516939E-07"
        izz="4.42759215433994E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://x500_description/meshes/visual/camera_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://x500_description/meshes/visual/camera_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="camera_joint"
    type="fixed">
    <origin
      xyz="0.07546095994 0 -0.0330999999999999"
      rpy="3.14159265358979 0 -1.57079632679489" />
    <parent
      link="base_link" />
    <child
      link="camera_link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>
